/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS01/Helloworld/nbproject/private/
/workshops/unit1/WS01/Helloworld/build/
/workshops/unit1/WS01HelloWorld/Helloworld/build/
/workshops/unit1/WS01HelloWorld/Helloworld/nbproject/private/
/assigments/Unit1/HW02/ Diameter of a circle/nbproject/private/
/assigments/Unit1/HW02/ Diameter of a circle/build/
/workshops/unit1/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04-LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assigments/Unit1/HW03Iterations/nbproject/private/
/assigments/Unit1/HW03Iterations/build/
/assigments/Unit1/deber2/nbproject/private/
/assigments/Unit1/deber2/build/
/workshops/unit1/WS07/nbproject/private/
/workshops/unit1/WS07/build/
/assigments/Unit1/HW04Menus/nbproject/private/
/assigments/Unit1/HW04Menus/build/
/Exams/ExamUnit1/nbproject/private/
/Exams/ExamUnit1/build/
/Exams/Qgis-improvement/nbproject/private/
/Exams/WS08debugging/nbproject/private/
/Exams/WS08debugging/build/
/assigments/Unit1/HW08-FactorialNumber/nbproject/private/
/assigments/Unit1/HW08-FactorialNumber/build/
/assigments/Unit2/HW09-EmbeddedStructures/nbproject/private/
/assigments/Unit2/HW09-EmbeddedStructures/build/
/assigments/Unit2/HW08-FactorialNumber/build/
/assigments/Unit2/HW08-FactorialNumber/nbproject/private/
/workshops/unit 2/WS10Fuctions/nbproject/private/
/workshops/unit 2/WS10Fuctions/build/
/assigments/Unit2/HW10-Functions/nbproject/private/
/assigments/Unit2/HW10-Functions/build/
/workshops/unit 2/WS12LIBRARIES/nbproject/private/
/workshops/unit 2/WS12LIBRARIES/build/
/assigments/Unit2/HW12TAXES/nbproject/private/
/assigments/Unit2/HW12TAXES/build/
