/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS01/Helloworld/nbproject/private/
/workshops/unit1/WS01/Helloworld/build/
/workshops/unit1/WS01HelloWorld/Helloworld/build/
/workshops/unit1/WS01HelloWorld/Helloworld/nbproject/private/
/assigments/Unit1/HW02/ Diameter of a circle/nbproject/private/
/assigments/Unit1/HW02/ Diameter of a circle/build/
/workshops/unit1/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04-LogicalOperators/build/
